.header {
    background-color: rgb(230, 242, 253);
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

.logo{
    font-size: 40px;
    color: rgb(107, 124, 255);
    font-weight: 700;
}
nav {
    display: flex;
    gap: 30px;
}